[MASTER]
disable=invalid-name,
    line-too-long,
    too-many-arguments,
    too-few-public-methods

ignore=.git,
    conf.py,
    dump_tables.py,
    monitor.py,
    player.py,
    recorder.py,
    threading_utils.py

msg-template={path}:{line}: [{msg_id}, {obj}] {msg} ({symbol})
